**Module 4 Project  Habtom Woldu**

Author: **Habtom1999** Repository: **datafun-04-notbooks**

## Help fulresourcs

[Jupyter Note Book Introduction] (https://realpython.com/jupyter-notebook-introduction/)

[End to End Walk thrpugh ] (https://nbdev.fast.ai/)

## Task 1 - Series

Q Create a pandas Series named grades from a list of integers (exam scores).

In [49]:
import pandas as pd

In [50]:
grades = pd. Series([87,100,94])

In [51]:
grades

0     87
1    100
2     94
dtype: int64

Q Get the value of the first grade with grades[0].

In [52]:
grades[0]

87

Q Call the built in Series functions: count(), mean(), min(), max(), std(), and describe().

In [53]:
grades.count()

3

In [54]:
grades.mean()

93.66666666666667

In [55]:
grades.min()

87

In [56]:
grades.max()

100

In [57]:
grades.std()

6.506407098647712

In [58]:
grades.describe()

count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

## Task - 2 Series from Dictionary

Q. Add a new Python cell.

In [59]:
import pandas as pd

In [60]:
grades_dict = {'Wally' : [87,96,70], 'Eva' : [100,87,90], 'Sam' : [94,77,90], 'Katie': [100,81,82], 'Bob': [83,65,85]}

In [61]:
grades = pd.DataFrame(grades_dict)

In [62]:
grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

Q. Get Eva's score by calling grades['Eva']

In [63]:
grades['Eva']

0    100
1     87
2     90
Name: Eva, dtype: int64

Q. Get Wally's score using the easier dot notation: grades.Wally.

In [64]:
grades.Wally

0    87
1    96
2    70
Name: Wally, dtype: int64

Q. Use the Series values attribute to display the array of values.

In [65]:
pd.DataFrame(grades_dict, index = ['Test1', 'Test2', 'test3'])

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
test3     70   90   90     82   85

In [66]:
grades.index = ['Test1', 'Test2', 'Test3']

In [67]:
grades

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

Q. Complete the self-check on Page 266.

In [68]:
import numpy as np

In [69]:
import pandas as pd

In [70]:
temps = np.random.randint(60,101,6)

In [71]:
temperatures = pd.Series(temps)

In [72]:
temperatures

0    65
1    96
2    65
3    98
4    69
5    87
dtype: int32

In [73]:
temperatures.min()

65

In [74]:
temperatures.max()

98

In [75]:
temperatures.mean()

80.0

In [76]:
temperatures.describe()

count     6.000000
mean     80.000000
std      15.491933
min      65.000000
25%      66.000000
50%      78.000000
75%      93.750000
max      98.000000
dtype: float64