Reformatting Data 
Name: Habtom Woldu 
Date: 02 Jun 2023

In [19]:
import pandas as pd

In [1]:
contacts = [['Mike Green', 'demol@deitel.com', '5555555555'], ['Sue Brown', 'demo2@deital.com', '5555551234']]

In [7]:
contactsdf =pd.DataFrame(contacts, columns= ['Name', 'Email', 'Phone'])

In [20]:
contactsdf

         Name             Email       Phone
0  Mike Green  demol@deitel.com  5555555555
1   Sue Brown  demo2@deital.com  5555551234

In [21]:
import re

In [38]:
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '_'.join(result.groups()) if result else value

In [39]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

In [40]:
formatted_phone

0    555_555_5555
1    555_555_1234
Name: Phone, dtype: object

In [41]:
contactsdf['Phone'] = formatted_phone

In [42]:
contactsdf

         Name             Email         Phone
0  Mike Green  demol@deitel.com  555_555_5555
1   Sue Brown  demo2@deital.com  555_555_1234